<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <header>
      {{- partial "header.html" . -}}
    </header>
    <main>
      {{- block "main" . }}{{- end }}
    </main>
    <footer>
      {{- partial "footer.html" . -}}
    </footer>
    {{ $js := resources.Get "js/rocinante.js" | resources.Minify }}
    {{- if isset .Site.Params "email" }}
      <script src="{{ $js.RelPermalink }}"></script>
    {{- end -}}
    {{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}
  </body>
</html>
