<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'none'; style-src 'self' 'unsafe-inline'; img-src 'self'; connect-src 'self'; base-uri 'self'; manifest-src 'self'; media-src 'self'">
<meta http-equiv="Strict-Transport-Security" content="max-age=63072000; includeSubDomains; preload">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="Referrer-Policy" content="strict-origin-when-cross-origin">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if ne .Title .Site.Title }}{{ .Title }} · {{ end }}{{ .Site.Title }}</title>

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/rocinante.scss" | resources.ToCSS $options  }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />

{{- if isset .Site.Params "customcss" }}
    {{ range .Site.Params.customCSS }}
    {{ $customstyle := resources.Get . | fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $customstyle.Permalink }}">
    {{ end }}
{{- end -}}

{{ with .Site.Params.favicon }}
{{ printf `<link rel="shortcut icon" href="%s/%s">` $.Site.BaseURL $.Site.Params.favicon | safeHTML }}
{{ end }}

{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}